html {

    margin-left: 1em;
}
.navbar {
    display: flex;
    align-items: flex-start;
    background-color: #333;
    color: #fff;
    height: 45px;
}

.brand-title {
    font-size: 1.5rem;
    margin: 0.5rem;
   }
.brand-title a{
    color: #fff;
    text-decoration: none;
    padding-left: 2px;
   }

.hero {
    background-image: url("pic/9pav.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
    height: 40rem;
   
}
.hero-text {
    font-family: 'Crimson Pro', serif;
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 50;
    font-display: swap;
    padding-top: 100px;
    }
.btn {
    border-radius: 15px;
    border: #fff 5px solid;
    background-color: #fff;
    min-width: 50px;
    font-size: 1rem;
}    
.photos img {
    margin-top: 2em;
    width: 200px;
}
.photos img:last-child {
    min-width: 400px;
}